<div id="<%= dom_id part %>">
  <p>
    <strong>Part num:</strong>
    <%= part.part_num %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= part.short_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= part.status %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= part.location %>
  </p>

  <p>
    <strong>Min quantity:</strong>
    <%= part.min_quantity %>
  </p>

  <p>
    <strong>Total on hand:</strong>
    <%= part.total_on_hand %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= part.unit %>
  </p>

</div>
